<div class="news-list">
  <% @posts.each do |post| %>
    <div class="news-list-item">
      <h2>
        <%= link_to post.title, post %>
      </h2>
      <small class="muted"><%= l post.created_at %></small>
      <p class="clearfix">
        <%= image_tag post.img_url %>
        <%= post.text %>
      </p>

      <% if current_user.present? && post.user == current_user %>
	      <div>
	        <%= link_to 'Edit', edit_post_path(post), class: "btn btn-warning" %>
	        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"  %>
	      </div>
	    <% end %>
	    
      <hr/>
    </div>
  <% end %>
</div>