<%= form_for @post, html: {class: "form-horizontal"} do |f| %>
  
  <!-- Ошибки -->
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- Ввод данных -->

  <div class="control-group">
    <%= f.label :title, class: "control-label" %>
    <div class="controls">
      <%= f.text_field :title %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :text, class: "control-label" %>
    <div class="controls">
      <%= f.text_field :text %>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <%= f.submit "Сохранить", class: "btn btn-railsgirls" %>
    </div>
  </div>

<% end %>
