<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<header class="navbar navbar-static-top">
    <div class="navbar-inner">
        <a class="brand" href="#">Blog</a>
        <ul class="nav">
            <li>
                <a href="/posts">Posts</a>
            </li>
            <li>
                <%= link_to 'New Post', new_post_path %>
            </li>
        </ul>
    </div>
</header>

<%= yield %>

</body>
</html>
