<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- Шапка -->
<header class="navbar navbar-static-top">
    <div class="navbar-inner">
        <a class="brand" href="/">Blog</a>
        <ul class="nav">
            <li>
                <a href="/posts">My posts</a>
            </li>
            <li>
                <%= link_to 'New Post', new_post_path %>
            </li>
        </ul>

        <!-- Авторизация -->
        <ul class="nav pull-right">
            <%- if current_user.present? %>

                <li>
                    <a href="#">
                        <%= current_user.email %>
                    </a>
                </li>
                <li>
                    <%= link_to "Выйти", destroy_user_session_path, method: :delete %>
                </li>

            <% else %>

                <li>
                    <%= link_to "Войти", new_user_session_path %>
                </li>
                <li>
                    <%= link_to "Регистрация", new_user_registration_path %>
                </li>

            <% end %>
        </ul>

    </div>
</header>

<div class="container">
    <div class="row">
        <div class="span8">
            <%= yield %>
        </div>
        <div class="span4">
            Sidebar
        </div>
    </div>
</div>

</body>
</html>
